[submodule "panda"]
	path = panda
	url = ../../reekotubbs/panda.git
[submodule "opendbc"]
	path = opendbc
	url = ../../reekotubbs/opendbc.git
[submodule "laika_repo"]
	path = laika_repo
	url = ../../reekotubbs/laika.git
[submodule "cereal"]
	path = cereal
	url = ../../reekotubbs/cereal.git
	branch = opgm-dev
[submodule "rednose_repo"]
	path = rednose_repo
	url = ../../reekotubbs/rednose.git
